body {
  background-color: #1d1f21;
  color: #f0c674;
  margin: 0;
  font-size: 2em;
  font-family: sans-serif;
}

.message-input {
  width: 99.3%;
  margin: 0;
}

h1 {
  text-decoration: underline;
}
